MONGO_URL=mongodb://localhost:27017
APP_NAME=shesync

PORT=3000


CLERK_PUBLISHABLE_KEY=pk_test_ZXRoaWNhbC1nZWxkaW5nLTI5LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_UTQjPv1Kh1LNHUWvcZxjVKL58Jggbd6Nn851LTOYwo


SPOTIFY_CLIENT_ID=733da07ab9ed4325bcd291eba5f0a093
SPOTIFY_CLIENT_SECRET=5235b091656144bdac95094ab7572c91


FRONTEND_URL=http://localhost:5173
APP_NAME=SheSync